
*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    height: 100vh;
    font-family: 'Poppins';
}

.webgl
{
    position: fixed;
    top: 20vh;
    left: 0;
    outline: none;
}

#menu {
    position: fixed;
    margin-bottom: 0px;
}